<ion-view title="Add food">
  <ion-content class="has-ad padding">
    <div id="add-food" class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="food.name">
      </label>
      <label class="item range range-positive">
        <span class="input-label">Protein</span>
        <input class="range" type="range" name="volume" min="0" max="25" ng-model="food.protein">        
        <span class="input-unit">{{food.protein}}g<span>
      </label>
      <label class="item range range-positive">
        <span class="input-label">Fat</span>
        <input class="range" type="range" name="volume" min="0" max="25" ng-model="food.fat">        
        <span class="input-unit">{{food.fat}}g<span>
      </label>
      <label class="item range range-positive">
        <span class="input-label">Carbs</span>
        <input class="range" type="range" name="volume" min="0" max="25" ng-model="food.carbs">        
        <span class="input-unit">{{food.carbs}}g<span>
      </label>
      <button class="button button-block button-positive" ng-click="storeFood()">
        Add food
      </button>
    </div>
  </ion-content>
</ion-view>
