<ion-view title="Stats">
  <ion-content class="has-header padding">
    <h1>Stats</h1>
    <form id="personal-stats" class="list">
      <label class="item item-input">
        <span class="input-label">Current weight</span>
        <input type="number" ng-model="stats.weight"><span class="item-note">pounds</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Current percent body fat</span>
        <input type="number" step="0.1" ng-model="stats.percentBodyFat">%
      </label>
    </form>
    <div id="calculated-stats" class="list card">
      <li class="item item-icon-right">
        Lean body mass
        <span>{{stats.lbm() | number:1}} pounds</span>
      </li>
      <li class="item item-icon-right">
        Maintenance calories
        <span>{{user.maintenanceCalories() | number:0}} calories</span>
      </li>
    </div>
  </ion-content>
</ion-view>
