<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <div id="dashboard-phase-info">
      <span id="phase-buttons">
        <button class="button button-outline button-calm" ng-click="phasePopover.show($event)">
          Phase {{calendar.phase}}
        </button>
        <button class="button button-outline button-calm" ng-click="weekPopover.show($event)">
          Week {{calendar.weekInPhase}}
        </button>
      </span>
      <span id="workout-button">
        <label class="toggle">
          <input type="checkbox" ng-model="calendar.isWorkoutDay" ng-change="saveIsWorkoutDay()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <img src="img/exercise1.png"/>
      </span>
    <div class="row">
      <div class="col">
        <div class="card macnut-card">
          <div class="macnut-card-name">Protein</div>
          <div class="macnut-card-remaining">{{totals.protein() | number:0}}g</div>
          <div class="macnut-card-total">out of {{macnuts.protein() | number:0}}g</div>
        </div>
      </div>
      <div class="col">
        <div class="card macnut-card">
          <div class="macnut-card-name">Fat</div>
          <div class="macnut-card-remaining">{{totals.fat() | number:0}}g</div>
          <div class="macnut-card-total">out of {{macnuts.fat() | number:0}}g</div>
        </div>
      </div>
      <div class="col">
        <div class="card macnut-card">
          <div class="macnut-card-name">Carbs</div>
          <div class="macnut-card-remaining">{{totals.carbs() | number:0}}g</div>
          <div class="macnut-card-total">out of {{macnuts.carbs() | number:0}}g</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<script id="change-phase-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Change the phase</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-radio ng-repeat="phase in phases" ng-value="phase" ng-model="calendar.phase" ng-change="savePhase()">
          Phase {{phase}}
        </ion-radio>      
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="change-week-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Change the week</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-radio ng-repeat="week in weeks" ng-value="week" ng-model="calendar.weekInPhase" ng-change="saveWeek()">
          Week {{week}}
        </ion-radio>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
