<ion-view title="Stats">
  <ion-content class="has-header padding">
    <div id="personal-stats" class="list">
      <label class="item item-input">
        <span class="input-label">Current weight</span>
        <input type="number" ng-model="stats.weight">
        <span class="input-unit">pounds</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Current percent body fat</span>
        <input type="number" step="0.1" ng-model="stats.percentBodyFat">
        <span class="input-unit">%</span>
      </label>
      <button class="button button-block button-positive" ng-click="storeStats(stats)">
        Update stats
      </button>
    </div>
    <div id="calculated-stats" class="list card">
      <li class="item item-icon-right">
        Lean body mass
        <span>{{calculateLBM(stats) | number:0}} pounds</span>
      </li>
      <li class="item item-icon-right">
        Maintenance calories
        <span>{{maintenanceCalories(stats) | number:0}} calories</span>
      </li>
    </div>
  </ion-content>
</ion-view>
