<ion-view title="Stats">
  <ion-content class="has-ad padding">
    <div id="personal-stats" class="list">
      <label class="item item-input">
        <span class="input-label">Current weight</span>
        <input class="number" type="number" ng-model="stats.weight" ng-change="saveWeight()">
        <span class="input-unit">pounds</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Current body fat</span>
        <input class="number" type="number" step="0.1" ng-model="stats.bodyFat" ng-change="saveBodyFat()">
        <span class="input-unit">%</span>
      </label>
    </div>
    <div id="calculated-stats" class="list card">
      <li class="item item-icon-right">
        Lean body mass
        <span>{{calculateLBM(stats) | number:0}} pounds</span>
      </li>
      <li class="item item-icon-right">
        Maintenance calories
        <span>{{maintenanceCalories(stats) | number:0}} calories</span>
      </li>
    </div>
  </ion-content>
</ion-view>
