.macnut-card {
  text-align: center;
}

.macnut-card-name {
  font-size: 1.5em;
  padding-top: 0.4em;
}

.macnut-card-remaining {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.macnut-card-total {
  text-align: right;
  padding: 0.4em;
}

#workout-button {
  font-size: 1.3em;
  float: right;
}

.flow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 10px;
}

.flow-item {
  width: 6em;
  padding: 0 0;
}

.flow-item .item-content {
  padding: 0.8em 0.3em 1.4em 0.3em;
  line-height: 1em;
}

.relative {
  position: relative;
}

.color-bar-small {
  /* Multiple lines should overlap, so need absolute */
  position: absolute;
  bottom: 0px;
  height: 10px;
  float: left;
  left: 0px;
  display: inline-table;
}

.color-bar-totals {
  float: left;
  display: inline-table;
  height: 9em;
  padding: 0;
  width: 100%;
  font-size: 1em;
}

.color-bar-total {
  height: 100%;
}

.bar-target {
  position: relative; /* So z-index works */
  display: inline-table;
  border-style: solid;
  border-width: 4px;
  z-index: 1;
  height: inherit;
  padding-left: 0.5em;
}

.bar-target-label {
  height: inherit;
  float: right;
  padding: 0.5em;
}

.bar-eaten {
  position: absolute;
  left: 0;
  margin-top: 4px;
  height: inherit - 8px;
  z-index: -1;
}

.bar-eaten-label {
  display: block;
  padding: 0.5em;
  height: 100%;
}

.color-bar-total {
  height: 3em;
}

.color-bar {
  position: absolute;
  float: inherit;
}

.color-target-protein {
  border-color: #1c0e42;
}

.color-target-fat {
  border-color: #3d5a0a;
}

.color-target-carbs {
  border-color: #61330b;
}

.color-macnut {
  height: inherit;
  float: inherit;
}

.color-protein {
  background-color: #a28cdf;
}

.color-fat {
  background-color: #c3ec78;
}

.color-carbs {
  background-color: #febc81;
}

#food li {
  display: -webkit-flex;
  display: flex;

  padding-right: 0.1em;
}

#macnut-header {
  padding-left:3.5em;
  font-weight: normal;
}

#food span.food-servings {
  min-width: 2em;
}

#food span.food-name {
  min-width: 8em;
}

#food span.macnuts {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}

#food span.macnuts span {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-justify-content: center;
  justify-content: center;
}

#food-eaten-header {
  padding: 14px; /* Give space for button */
}

.modal-button-bar {
  margin-top: 1em;
}

#add-food label {
  padding: 6px 0 5px 16px; /* Otherwise range and text inputs have different sizes */
}

#add-food span.input-label {
  -webkit-flex: 0;
  flex: 0;
  min-width: 4em;
  width: auto;
}

#add-food label.range input {
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

#add-food label.range span.input-unit {
  min-width: 2em; /* Space for 2 digit value */
}

input.number {
  padding-right: 1em;
  margin-right: 1em;
  max-width: 7em;
}
