.macnut-card {
  text-align: center;
}

.macnut-card-name {
  font-size: 1.5em;
  padding-top: 0.6em;
}

.macnut-card-remaining {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

.macnut-card-total {
  text-align: right;
  padding: 0.2em;
}

#dashboard-phase-info {
  margin-left: 1em;
  margin-right: 1em;
}

#phase-text {
  font-size: 2em;
}

#workout-text {
  font-size: 1.3em;
  float: right;
}

#food li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-right: 102px; /* Reserve space for 2 buttons */
}

#macnut-header {
  margin-left: 8em;
}

#food span.macnuts {
  display: flex;
}

#food span.food-name {
  min-width: 8em;
}

#food span.macnuts {
  flex-grow: 2;
}

#food span.macnuts span {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#food-eaten-header {
  padding: 14px;
}

#add-food label span.input-label {
  width: 7em;
}

#add-food input.number {
  padding-right: 1em;
  max-width: 5em;
}
