.macnut-card {
  text-align: center;
}

.macnut-card-name {
  font-size: 1.5em;
  padding-top: 0.6em;
}

.macnut-card-remaining {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

.macnut-card-total {
  text-align: right;
  padding: 0.2em;
}

#dashboard-phase-info {
  margin-left: 1em;
  margin-right: 1em;
}

#workout-button {
  font-size: 1.3em;
  float: right;
}

#food li {
  display: -webkit-flex;
  display: flex;

  padding-right: 0.1em;
}

#macnut-header {
  padding-left:3.5em;
  font-weight: normal;
}

#food span.macnuts {
  display: -webkit-flex;
  display: flex;
}

#food span.food-name {
  min-width: 8em;
}

#food span.macnuts {
  -webkit-flex-grow: 2;
  flex-grow: 2;
}

#food span.macnuts span {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-justify-content: center;
  justify-content: center;
}

#food-eaten-header {
  padding: 14px; /* Give space for button */
}

#add-food label span.input-label {
  width: 7em;
}

input.number {
  padding-right: 1em;
  margin-right: 1em;
  max-width: 7em;
}
